<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <h2>Intéraction avec les capteurs</h2>  
    <div>
        <button onclick="redirectToSensor()">Consulter les capteurs</button>
        <script>
            function redirectToSensor() {
                window.location.href = "/viewSensors";
            }
        </script>
    </div>
    <h2>intéraction avec les données de monitoring</h2>
</body>
</html>
