<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Welcome to the Dashboard</h1> 
    <div id="buttonContainer">
        <button onclick="redirectToSensor()">Consulter les capteurs</button>
        <button onclick="redirectToMonitoring()">Consulter les données de monitoring</button>
    </div>
    <script>
        function redirectToSensor() {
            window.location.href = "/viewSensors";
        }
        function redirectToMonitoring() {
            window.location.href = "/viewMonitoring";
        }
    </script>
</body>
</html>
