body {
    min-height: 100%;
    height: auto;
    width: 100%;
    background-color: #fff;
    position: absolute;
    padding: 0;
    margin: 0;
}
  
h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

#monitoring {
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

th {
    background-color: #b6b6b6;
}

td {
    border-bottom: 1px solid #000000;
}

#success-message {
    text-align: center;
    margin-top: 10px;
}

#filterForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
  
#filterForm div {
    margin-bottom: 10px;
}
  
#filterForm label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
  
#filterForm select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
#filterForm input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}
  
#filterForm button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
#filterForm button[type="submit"]:hover {
    background-color: #45a049;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
  
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #D32F2F;
    color: white;
}

.delete-button:hover {
    background-color: #B71C1C;
    color: white;
}

.container {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#monitoringBackground {
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

#monitoringList {
    padding: 10px;
}

.container table {
    width: 100%;
}

.container th,
.container td {
    padding: 8px;
    text-align: center;
}

.container th {
    background-color: #b6b6b6;
}

.container td {
    border-bottom: 1px solid #000000;
}
